*{
    margin: 0;
}
/*
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
*/

/*  Top texto   */

.text-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 110px;
    justify-items: center;
    align-self: center;
}

.text-portfolio{
    font-family: 'PT Serif', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 47.7px;
    min-width: 303px;
}

.text-about-title{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
}
.text-about{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    width: 50%;
}

/*  Images  */

/* Estilização grupo de imagens*/
body{
    max-width:1200px;
    margin: auto;
}
.portfolio-image{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 96px;
    justify-content: center;
}

.team:nth-of-type(2n){
    margin-top: 105px;
}

.team{
    display: flex;
    width: 275px;
    flex-wrap: wrap;
    margin-right: 69px;
    margin-top: 16px;
}

/* Estilização imagem e texto individuais*/

.team-img img{
    max-width: 238px;
    max-height: 341px;
}

.team-responsability{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 12px;
    writing-mode: vertical-lr;
    margin-left: 10px;
    text-transform: uppercase;
}

.team-name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px;
}

/* Rodapé */

footer{
    display: flex;
    justify-content: center;
    padding-top: 115px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #A9A9A9;
    padding-bottom: 24px;
}

/* Mobile */

@media only screen and (max-width: 650px){
    .text-top{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 71px;
        padding-left: 12px;
        justify-items: left;
    }
    
    .text-portfolio{
        padding-bottom: 38px;
    }

    .text-about{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        width: 65%;
    }

/* Estilização grupo de imagens*/

.portfolio-image{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 96px;
    justify-content: center;
}


.team{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 0;
    margin-left: 19px;
    margin-right: 0;
}

/* Estilização imagem e texto individuais*/

.team-img img{
    max-width: 100%;
    max-height: 100%;
}

.team-responsability{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 12px;
    writing-mode: vertical-lr;
    margin-left: 10px;
    text-transform: uppercase;
}

.team-name{
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px;
}

  
}


